body{
    background-color: white;
    min-width: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar css classes */
.navbar-image{
    width: 50%;
    display: flex;
    justify-content: center;
}

.navbar-links{
    width: 50%;
}

.navigation-outside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    min-width: 308px;
    flex-wrap: nowrap;
    position:relative;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}


ul div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul div li a{
    padding: 4px 4px 3px 4px;
    margin: 16px 11px 0px 11px;
    float: left;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

ul div li a:hover{
    transition: all ease 0.1s;
    color: orangered;
}


/* First section css classes */
.starter-paragraph{
    padding: 60px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0 0 80px 0;
}

.split1{
    width: 40%;
}

.split2{
    width: 60%;
    margin: 20px 0 0 0;
}

.greeting-image-section img{
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: 20px 0 0 0;
}

.starter-paragraph-text-sizing{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

.starter-paragraph-text{
    width: 100%;
    padding: 5px 5px 5px 5px ;
    max-width: 500px;
    min-width: 304px;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
    font-size: 60px;
    margin-left: 5%;
}

.outterButtonBox{
    display: flex;
    margin-left: 5%;
}

.buttonBox{ 
    background-color: #33cc33;
    margin: 40px 10px 0 10px;
    border-radius: 5px;
}

.welcomeButton {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.welcomeButton-element {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.welcomeButton-element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(75,65,65,0.1);
    transition: all 0.3s;
}

.welcomeButton-element:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.welcomeButton-element::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

.welcomeButton-element:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.headerText{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.offer-inner{
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.offer-inner-box{
    margin: 10px 20px 15px 20px;
    border: 1px #C0C0C0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 225px;
    min-width: 180px;
    width: 15%;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

.offer-inner-box-inside{
    vertical-align: baseline;
    font-size: 20px;
    font-weight: 580;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.offer-inner-box-inside img{
    width: 70px;
    height: 70px;
    margin: 15px 0 25px 0;
}

.offer-inner-box-inside img:hover{
    cursor: grab;
    margin: 15px 0 5px 0;
    width: 90px;
    height: 90px;
    transition: 0.5s;
}

.offer-box-margin{
    margin: 0 0 20px 0;
}

.second-offer-box-spacing{
    margin: 10px 0 0 0;
}


.usefulLinks{
    margin: 50px 0 30px 0;
}

.usefulLinks-box{
    margin: 10px 20px 15px 20px;
    border: 1px #C0C0C0 solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    min-width: 260px;
    max-width: 500px;
    width: 25%;
    max-height: 400px;
    text-align: center;
}

.usefulLinks-box-inside-header{
    margin: 0 3% 0 3%;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.usefulLinks-box-inside-header:hover{
    transition: all ease 0.1s;
    color: orangered;
    cursor: pointer;
}

.usefulLinks-box img{
    width: 100%;
    height: 50%;
    margin: 0 0 15px 0;
}

.usefulLinks-box-inside-text{
    margin: 5% 3% 4% 3%;
    text-align: left;
    font-size: 18px;
    font-weight: 560;
    font-family: 'Roboto', sans-serif;
    color: black;
}

@media only screen and (min-width: 1570px){

    ul div li a{
        font-size: 40px;
    }

    .split1{
        width: 50%;
    }
    
    .split2{
        width: 50%;
    }

    .starter-paragraph-text{
        margin: 0;
        max-width: 1000px;
        font-size: 80px;
    }

    .welcomeButton{
        line-height: 75px;
        height: 75px;
        width: 300px;
        font-size: 30px;
    }

    .headerText{
        font-size: 60px;
    }
}

@media only screen and (max-width: 920px){

    .navbar-image{
        width: 0%;
    }

    .navbar-links{
        width: 100%;
    }

    .starter-paragraph{
        margin: 0 0 40px 0;
    }

    .starter-paragraph-text-sizing{
        align-items: center;
        width: 90%;
    }

    .greeting-image-section img{
        margin: 20px 0 0 0;
    }

    .welcomeButton{
        line-height: 40px;
        height: 40px;
        width: 140px;
    }

    .starter-paragraph-text{
        min-width: 200px;
        margin-left: 0%;
        font-size: 34px;
    }

    .split1{
        width: 50%;
    }
    
    .split2{
        width: 50%;
    }

    .headerText{
        font-size: 30px;
    }

    .offer-inner-box{
        width: 20%;
    }
    .offer-inner-box-inside{
        font-size: 16;
    }

    .offer-inner-box-inside img{
        width: 40px;
        height: 40px;
        margin: 5px 0 15px 0;
    }
    
    .offer-inner-box-inside img:hover{
        cursor: grab;
        margin: 5px 0 5px 0;
        width: 50px;
        height: 50px;
        transition: 0.5s;
    }

    .second-offer-box-spacing{
        margin: 5px 0 0 0;
    }
}

/* Mobile aproach */
@media only screen and (max-width: 600px){
    .navbar-image{
        display: none;
    }

    .welcomeButton{
        line-height: 40px;
        height: 40px;
        width: 100px;
    }

    .navbar-links{
        width: 100%;
    }

    .starter-paragraph-text-sizing{
        width: 100%;
    }

    .starter-paragraph{
        flex-direction: column;
        margin: 0;
    }

    .starter-paragraph-text{
        padding: 5% 15px 0 15px;
        max-width: 400px;
        min-width: 200px;
        font-size: 30px;
        width: 80%;
    }

    .split1{
        width: 100%;
    }
    
    .split2{
        width: 100%;
    }

    .headerText{
        font-size: 20px;
    }

    .offer-inner{
        flex-direction: column;
        align-items: center;
        margin: 20px 0 0 0;
    }

    .offer-inner-box-inside{
        font-size: 12;
    }

    .second-offer-box-spacing{
        margin: 0;
    }

    .usefulLinks{
        margin: 20px 0 15px 0;
    }

    .usefulLinks-box-inside-header{
        font-size: 18;
    }

    .usefulLinks-box img{
        height: 140px;
        margin: 0 0 10px 0;
    }
}


button{
    width: 100%;
    height: 40px;
}